.folder {
    color: white;
    &__main {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding: 5px 0;
        cursor: pointer;
        &:hover {
            border-radius: 5px;
            background-color: #505050;
        }
        &:active {
            border-radius: 5px;
            background-color: #303030;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    &__arrow {
        width: 7px;
        height: 7px;
        border: 2px solid rgb(160, 160, 160);
        border-top: none;
        border-right: none;
        rotate: -135deg;
        cursor: pointer;
    }
    &__icon {
        width: 25px;
        height: 25px;
    }
    &__children {
        padding-left: 30px;
    }
}